{% include lang.html %}
<div>
  <section class="content-section">
    <header class="section-header">
      <h2>Summary</h2>
      <hr style="border: solid 2px ced4da;">
    </header>
    
    {% for info in site.data.resume.information %}
    <div class="resume-item">
      <h3 class="resume-item-title">{{ info.title }}</h3>
      <p class="resume-item-copy">{{ info.detail }}</p>
    </div>
    {% endfor %}
  </section>
  
  <!-- begin Education -->
  <section class="content-section"> 
    <header class="section-header">
      <h2>Education</h2>
      <hr style="border: solid 2px ced4da;">
    </header>

    {% for education in site.data.resume.education %}
    <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
      <h3 class="resume-item-title" itemprop="name">{{ education.uni }}</h3>
      <h4 class="resume-item-details" itemprop="description">{{ education.degree }}</h4>
      <h4 class="resume-item-durations" itemprop="description">{{ education.year }}</h4>
      <p class="resume-item-copy">{{ education.detail }}</p>
    </div>
    {% endfor %}
  </section>
  <!-- end Education -->
 
  <!-- begin Experience -->
  <section class="content-section">

    <header class="section-header">
      <h2>Experience</h2>
      <hr style="border: solid 1.8px ced4da;">
    </header>

    {% for job in site.data.resume.experience %}
    <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
      <h3 class="resume-item-title" itemprop="name">{{ job.company }}</h3>
      <h4 class="resume-item-details" itemprop="description">{{ job.position }}</h4>
      <h4 class="resume-item-durations" itemprop="description">{{ job.duration }}</h4>
      <p class="resume-item-copy">
      {% for details in job.summary %}
      <p class="resume-item-list">
        {{ details.title }}
        {% for description in details.details %}
        {{ description.description }}
        {% endfor %}
      </p>
      {% endfor %}
      </p>
      
    </div>
    {% endfor %}

  </section>
  <!-- end Experience -->
  
  <!-- begin Extracurricular Activities -->
  <section class="content-section">
    <header class="section-header">
      <h2>Extracurricular Activity</h2>  
      <hr style="border: solid 1.8px ced4da;">
    </header>
    
    {% for act in site.data.resume.ECA %}
    <div class="resume-item" itemscpte itemprop="experience">
      <h3 class="resume-item-title" itemprop="name">{{ act.activity }}</h3>
      <h4 class="resume-item-details" itemprop="description">{{ act.organization }}</h4>
      <h4 class="resume-item-durations" itemprop="description">{{ act.duration }}</h4>
      <p class="resume-item-copy">{{ act.details }}</p>
    </div>
    {% endfor %}
  </section>
  <!-- end Extracurricular Activities -->
  
    
  <!-- begin Skills -->
  <section class="content-section">

    <header class="section-header">
      <h2>Skills</h2>
      <hr style="border: solid 1.8px ced4da;">
    </header>
    
    {% for skill in site.data.resume.skills %}
    <div class="resume-item">
      <h3 class="resume-item-title">{{ skill.skill }}</h3>
      <p class="resume-item-copy">
        {% for detail in skill.description %}
        <li>{{ detail.details }}</li>
        {% endfor %}
      </p>
    </div>
    {% endfor %}

  </section>
  <!-- end Skills -->
  
  <!-- begin Funding -->
  <section class="content-section">
     
    <header class="section-header">
      <h2>Funding</h2>
      <hr style="border: solid 1.8px ced4da;">
    </header>
    
    {% for fund in site.data.resume.funding %}
    <div class="resume-item">
      <h3 class="resume-item-title">{{ fund.name }}</h3>
      <h4 class="resume-item-details">{{ fund.organization }}</h4>
      <h4 class="resume-item-durations">{{ fund.durations }}</h4>
      <p class="resume-item-copy">{{ fund.detail }}</p>
    </div>
    {% endfor %}
  </section>
 </div>
