// Resume styles
// ---------------------------------------/

// resume content styles

.content-section {
  margin: 0 0 0;

  .resume-item { margin-bottom: 2rem; }

  .resume-item-title {
    @include sans_bold;
    margin: 24px 0 12px;
    font-size: 20px;
    letter-spacing: -.05rem;
    line-height: 1;
  }
  
  .resume-item-details {
    margin: 0 0 12px;
    font-size: 18px;
    line-height: 1;

    &.award-title {
      font-size: 1rem;
    }
  }
  .resume-item-durations {
    margin: 0 0 12px;
    font-size : 16px;
    line-height: 1;
  }
  
  .resume-item-copy{
    margin: 0 0 12px;
    font-size: 16px;
    line-height: 1;
  }
  .resume-item-title,
  .resume-item-details,
  .resume-item-copy,
  .resume-item-list {
    a {
      color: #333;
      text-decoration: none;
      border-bottom: 1px solid;

      &:hover {
        border-bottom: none;
        color: #9c9c9c;
      }
    }
  }
  .down_btn button{
    color: #ffffff;
    cursor: pointer;
    line-height: 20px;
    border-radius:30px;
    border:none;
    letter-spacing:-1px;
  }
  .down_btn button:hover{
    box-shadow:1px 1px 4px rgba(0,0,0,0.4);

  }
}


@media print {
  .no-print { display: none !important }
  .print-only { display: block !important }
  body { font-size: 12px; line-height: 1rem; }
  .page-header { padding: 1rem 0 .2rem;
    .header-name {
      @include sans_bold;
      font-size: 2rem;
      margin: 0 0 .2rem;
    }
  }
  .section-header {
    @include section_border_thin;
    margin-bottom: 1rem;
    h2 { font-size: 1.2rem; line-height: 1.5rem; }
  }
  .content-section {
    margin: 0 0 1rem;
    .resume-item { margin-bottom: 1rem; }
    .resume-item-title {
      font-size: 20px;
      line-height: 1;
      marin: 24px 0 12px;    
    }

    .resume-item-details {
      font-size: 18px;
      margin: 0 0 12px;
      line-height: .7em;
      font-style:italic;

      &.award-title {
        font-size: 11px;
      }
    }
    .resume-item-durations {
      margin: 0 0 12px;
      font-size : 16px;
      line-height: 1;
    }

    .resume-item-copy{
      margin: 0 0 12px;
      font-size: 16px;
      line-height: 1;
    }
  }
}
