// Resume styles
// ---------------------------------------/

// resume content styles

.content-section {
  margin: 0 0 3rem;

  .resume-item { margin-bottom: 2rem; }

  .resume-item-title {
    @include sans_bold;
    margin: 0 0 24px;
    font-size: 20px;
    letter-spacing: -.05rem;
    line-height: 1;
  }
  .resume-item-subtitle {
    font-size: 18px;
    margine: -12px 0 12px;
  }
  .resume-item-details {
    font-size: 18px;
    margin: 0 0 12px;
    line-height: 1;

    &.award-title {
      font-size: 1rem;
    }
  }
  .resume-item-durations {
    font-size : 16px;
    margin: 0 0 12px;
    line-height: 1;
  }
  
  .resume-item-copy{
    font-size: 16px;
    margin: 0 0 12px;
    line-height: 1;
  }
  .resume-item-title,
  .resume-item-details,
  .resume-item-copy,
  .resume-item-list {
    a {
      color: #333;
      text-decoration: none;
      border-bottom: 1px solid;

      &:hover {
        border-bottom: none;
        color: #9c9c9c;
      }
    }
  }

  .resume-item-copy { margin: .75rem 0 0; }
}


@media print {
  .no-print { display: none !important }
  .print-only { display: block !important }
  body { font-size: 12px; line-height: 1rem; }
  .page-header { padding: 1rem 0 .2rem;
    .header-name {
      @include sans_bold;
      font-size: 2rem;
      margin: 0 0 .2rem;
    }
  }
  .section-header {
    @include section_border_thin;
    margin-bottom: 1rem;
    h2 { font-size: 1.2rem; line-height: 1.5rem; }
  }
  .content-section {
    margin: 0 0 1rem;
    .resume-item { margin-bottom: 1rem; }
    .resume-item-title {
      font-size: 16px;
      line-height: .7em;
    }

    .resume-item-details {
      font-size: 12px;
      margin: 0 0 .75rem;
      line-height: .7em;
      font-style:italic;

      &.award-title {
        font-size: 11px;
      }
    }
  }
}
